@import "global.scss";

.travel_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(90% + 16px);
  flex-wrap: wrap;
  max-width: 1200px;
  min-width: 350px;
  margin: 20px auto;
  padding-top: 50px;

  .entry {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    animation-name: entry_creation;
    animation-duration: 1s;
    margin: 8px;
    order: 1;

    &.past_entry {
      order: 100;
      filter: grayscale(100%);
    }

    .left_panel {
      width: 100%;
    }

    .right_panel {
      width: 100%;

      &::before {
        border-top: 1px solid #b8b8b8;
        margin: 2px 0;
        width: 100%;
        content: "";
        display: inline-block;
      }
    }

    .image_holder {
      width: 100%;
      position: relative;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 200px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background: $header-color;
      }

      .image_cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: background-color 0.5s ease;

        .trip_name {
          position: absolute;
          color: #ffffff;
          font-weight: 200;
          font-size: 1.5em;
          width: 100%;
          text-transform: capitalize;
          padding: 5px 15px;
          box-sizing: border-box;
          z-index: 100;
          margin: 0;
        }

        .trip_due_days {
          @extend %background-vertical-gradient;
          position: absolute;
          padding-top: 40px;
          top: 0;
          left: 0;
          right: 0;
          text-transform: uppercase;
          font-style: italic;
          font-size: 0.75em;
          color: #ececec;
          padding-left: 15px;
        }
      }
    }

    .trip_info {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    .city_search {
      position: relative;
      width: 100%;

      .suggestion_box {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #fff;
        z-index: 100;
        border: 1px solid $active-input-color;

        a {
          padding: 4px 2px;
          font-size: .8em;
          text-decoration: none;
          color: #000000;
          cursor: pointer;
          font-family: inherit;
          border-bottom: 1px solid $accent-color;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background: $accent-color;
          }
        }
      }
    }

    .dates_selection {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &:hover {
      .image_cover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .entry_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .button_save_entry, .button_delete_entry {
        height: 24px;
        width: 80px;
        background: none;
        border: none;
        border-radius: 4px;
        outline: none;
        margin: 8px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
      }

      .button_save_entry {
        background: #ffffff;
        box-shadow: 0 0 2px #000000;

        &:hover, &:focus {
          background: #e0e0e0;
        }

        &:active {
          background: #c6c6c6;
        }
      }

      .button_delete_entry {
        background: #ff5a5a;
        box-shadow: 0 0 2px #000000;

        &:hover, &:focus {
          background: #ff1919;
        }

        &:active {
          background: #e70000;
        }
      }
    }
  }
}

@keyframes entry_creation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@include middle_screen {
  .travel_content {
    .entry {
      width: calc(100% - 24px);
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      .left_panel {
        width: 60%;
      }

      .right_panel {
        width: 40%;

        &::before {
          content: none;
        }
      }

      .image_holder {
        border-top-right-radius: 0;

        .image_cover {
          border-top-right-radius: 0;
        }
      }
    }
  }
}

@include big_screen {
  .travel_content {
    .entry {
      width: calc(100% - 24px);
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      .left_panel {
        width: 60%;
      }

      .right_panel {
        width: 40%;

        &::before {
          content: none;
        }
      }

      .image_holder {
        border-top-right-radius: 0;

        .image_cover {
          border-top-right-radius: 0;
        }
      }
    }
  }
}