$main-background: #ffffff;

$main-font: 'Rubik', sans-serif;
$logo-font: 'DM Mono', monospace;;

$header-color: #676d93;
$header-font-color: #c9d8f5;
$color3: #edf2f4ff;
$color4: #bcf8ecff;
$color5: #aed9e0ff;

$breakpoint-small: 768px;
$breakpoint-big: 1024px;

@mixin middle_screen {
  @media (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-big - 1px}) {
    @content;
  }
}

@mixin big_screen {
  @media (min-width: #{$breakpoint-big}) {
    @content;
  }
}

%background-vertical-gradient {
  background: -moz-linear-gradient(top, rgb(61, 61, 61) 0%, rgba(14, 14, 14, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(61, 61, 61) 0%, rgba(14, 14, 14, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(61, 61, 61) 0%, rgba(14, 14, 14, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#727272', endColorstr='#000e0e0e', GradientType=0); /* IE6-9 */
}