@import "global.scss";

body {
  font-size: 20px;
  font-family: $main-font;
  background: $main-background;
  padding: 0;
  margin: 0;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: $header-color;
  color: $header-font-color;
  box-shadow: 0 0 10px $header-color;

  .logo {
    margin: 5px 0;
    font-size: 1.5em;
    font-family: $logo-font;
    user-select: none;
  }
}

input {
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 1em;
  margin-top: 8px;
  font-family: $main-font;
  color: #000000;
  text-align: center;
  outline: none;

  &:hover, &:focus {
    border-bottom: 2px solid #5598ff;
  }

  &::placeholder {
    font-family: $main-font;
    text-align: center;
  }
}