$icon_size: 28px;

.weather_forecast {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  padding-top: 12px;
  padding-right: 15px;

  .weather_icon {
    width: $icon_size;
    height: $icon_size;
    background-repeat: no-repeat;
    background-size: $icon_size;
    margin: 0 6px;
    flex-shrink: 0;

    &.sun {
      background-image: url("../img/sun.png");
    }

    &.clouds {
      background-image: url("../img/clouds.png");
    }

    &.dust {
      background-image: url("../img/dust.png");
    }

    &.fog {
      background-image: url("../img/fog.png");
    }

    &.haze {
      background-image: url("../img/haze.png");
    }

    &.icy {
      background-image: url("../img/icy.png");
    }

    &.rain {
      background-image: url("../img/rain.png");
    }

    &.storm {
      background-image: url("../img/storm.png");
    }

    &.snow {
      background-image: url("../img/snow.png");
    }
  }

  .weather_temps {
    font-size: 1em;
    font-weight: 200;
    margin: 0 15px;
  }
}