<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travelita</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>

</header>
<main>
    <div class="entry">
        <div class="city_search">
            <input type="text" class="input_box" id="city-search" autocomplete="off">
            <div class="suggestion_box" id="city-suggestions">
            </div>
        </div>
    </div>
</main>

<footer>

</footer>
</body>
</html>