<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1">
    <title>Travelita</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&family=DM+Mono:wght@300&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">travelita</div>
</header>
<main>
    <div class="content">
        <div class="entry" id="Im21d">
            <div class="image_holder">
                <div class="trip_name">Tallinn</div>
                <img class="trip_image" src="https://cdn.pixabay.com/photo/2015/08/28/18/58/estonia-912315_960_720.jpg"
                     alt="Tallinn">
                <span class="image_shadow"></span>
            </div>
            <div class="trip_info">
                <div class="city_search">
                    <input type="text" class="city_search_input" autocomplete="off" placeholder="City">
                </div>
                <div class="dates_selection">
                    <input type="date" placeholder="FROM">
                    <input type="date" placeholder="TO">
                </div>
                <div class="weather-forecast">

                </div>
            </div>
        </div>

        <div class="entry" id="23sff">
            <div class="image_holder">
                <div class="trip_name">Tallinn</div>
                <img class="trip_image" src="https://cdn.pixabay.com/photo/2015/08/28/18/58/estonia-912315_960_720.jpg"
                     alt="Tallinn">
                <span class="image_shadow"></span>
            </div>
            <div class="trip_info">
                <div class="city_search">
                    <input type="text" class="city_search_input" autocomplete="off" placeholder="City">
                </div>
                <div class="dates_selection">
                    <input type="date" placeholder="FROM">
                    <input type="date" placeholder="TO">
                </div>
                <div class="weather-forecast">

                </div>
            </div>
        </div>

        <div class="entry" id="sa24fc">
            <div class="image_holder">
                <div class="trip_name">Tallinn</div>
                <img class="trip_image" src="https://cdn.pixabay.com/photo/2015/08/28/18/58/estonia-912315_960_720.jpg"
                     alt="Tallinn">
                <span class="image_shadow"></span>
            </div>
            <div class="trip_info">
                <div class="city_search">
                    <input type="text" class="city_search_input" autocomplete="off" placeholder="City">
                </div>
                <div class="dates_selection">
                    <input type="date" placeholder="FROM">
                    <input type="date" placeholder="TO">
                </div>
                <div class="weather-forecast">

                </div>
            </div>
        </div>
    </div>
</main>

<footer>
</footer>
</body>
</html>